<h1> Listing all articles </h1>

<%= link_to 'Create New Article', new_article_path %>
<table>
  <tr>
    <th>ID</th>

    <th>Title</th>
    <th>Description</th>
    <th>Link</th>

  </tr>
  <% @articles.each do |art| %>
    <tr>
      <td><%=art.id %> </td>
      <td><%= art.title %> </td>
      <td><%=art.description %> </td>
      <td><%= link_to 'Show', article_path(art) %> </td>
      <td><%= link_to 'Edit', edit_article_path(art) %> </td>
      <td><%= link_to 'Delete', article_path(art), method: :delete, data: {confirm: "Are you sure?"} %> </td>

    </tr>
  <% end %>
</table>
